 /* nav bar styling */

/* Updated nav bar styling */
.searchbar {
  max-width: 20%;
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.6);
  padding: 1%;
  text-decoration: none;
  font-size: 1.5vw;
}

.navBar {
  font-family: "gotham narrow", Georgia, serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.25%;
  background-color: #79a6d2;
  opacity: 0.9;
  text-decoration: none;
  font-size: 1.75vw;
  margin-bottom: 1%;
}

.sticky-top {
  position: sticky;
}

a:not(.logo) {
  font-weight: bold;
  text-decoration: none;
  color: rgb(29, 29, 29);
}

a:hover:not(.logo) {
  cursor: pointer;
  color: #bbb;
}

/* Logo styling on the NAV bar */
.logo {
  max-width: 20%;
  font-family: "gotham narrow", Georgia, serif;
  font-weight: bold;
  font-size: 3vw;
  position: relative;
  color: rgb(43, 43, 43);
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

/* search bar styling on the nav bar */
.submitBtn {
  max-width: 40%;
  position: relative;
  background-color: rgb(98, 114, 122);
  border-style: none;
  margin: 0 auto;
}

input[type=search] {
  flex-grow: 1;
  position: relative;
  max-width: 80%;
}

/* drop down styling on the nav bar */
.dropDown,
.dropBtn {
  border: none;
  background-color: inherit;
  font-size: 2vw;
  font-family: "gotham narrow", Georgia, serif;
  font-weight: bold;
  position: relative;
}

.dropLinks {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  color: black;
  margin-left: -24px;
  padding: 10px;
  min-width: 110px;
  min-height: 80px;
  text-align: center;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.dropBtn:hover ~ .dropLinks,
.dropLinks:hover {
  display: block;
}

.dropBtn:hover,
.dropLink:hover {
  background-color: whitesmoke;
  color: black;
}

.dropBtn:hover {
  background: inherit;
}

.dropLink:hover {
  color: #bbb;
}

.unicodeArrow {
  font-size: 10px;
  color: black;
}

.logoutBtn {
  background-color: #ff0800;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 150px;
}

@media screen and (max-width: 600px) {
  .logoutBtn {
    font-size: 0.8rem;
  }

  .user-email {
    font-size: 0.8rem;
  }
}

/* Adjust size of email to fit in the dropdown */
.user-email {
  font-size: clamp(10px, 1.25vw, 1.25vw);
  background-color: #6699cc;
  padding: 3px;
}


/* landing/ home page styling */
.landing{
  font-family: "gotham narrow",Georgia,serif;
  margin: 0;
  text-align: center;
  -webkit-animation: fadeIn 4s;
  animation:fadeIn 4s;
}
@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1;}
}
.landing_img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.landing_phrase {
  color: whitesmoke;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.phraseL{
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 600px){
  .phraseL{
    font-size: 2rem;
    font-weight: bold;
  }
}


.aboutLink{
  font-size: 25px;
  color: whitesmoke;
}

/* index page styling */
.containerIndex{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  color: white;
}

.companyLogo {
  width: 250px;
  height: 125px;
  border: 1px solid white;
  background-color: white;
}


/* create page styling */

.createFund {
  font-family: "gotham narrow", Georgia, serif;
  margin: 0px 200px 0px 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(98, 114, 122);
}

/* Ensure that the image does not go beyond the createFund container */
.createImg{
  max-width: 100%; 
}

.createForm {
  text-align: center;
  font-size: 1vw;
  margin-left: auto;
  margin-right: auto; 
}


input[type=text]{
  font-family: 'PT Serif', serif;
  font-size: 2vh;
  padding: 5px;
  margin: 0px 20px 10px 10px;
  border: none;
}

input[type=submit]:not(.submitBtn){
  font-family: 'PT Serif', serif;
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 5px
}
input[type=submit]:hover{
  cursor: pointer;
  background-color: gainsboro;
}
input[type=date]{
  font-size: 1vw;
  padding: 2px;
  margin-bottom: 10px;
}
.createFormTitle{
  font-weight: bold;
  font-size: 3vh;
  color: whitesmoke;
}

.createFormlabel{
  font-size: 1vw;
}

.createFundBtn{
  background-color: #6699cc;
  color:white;
}

@media screen and (max-width: 600px){
  .createFormlabel {
    font-size: 3vw;
  }
  .createFormTitle{
    font-size: 5vw;
  }
  .createFund{
    justify-content: center;
    margin: 0px;
  }
}




/* about page styling */
.allAbout{
  font-family: "gotham narrow",Georgia,serif;
  animation: fadeIn 2s;
  text-align: center;
  margin: auto;
}

@keyframes fadeIn{
0% {opacity: .4;}
100% {opacity: 1;}
}
.aboutImg{
  width: 60%;
  height: 50vh;
  margin: auto;
}
.aboutPhrase{
  background-color: #f1efeb;
  padding: 15px;
  margin-top: 10px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.aboutLine{
  margin-left: 30%;
  margin-right: 30%;
}
.aboutT{
  font-weight: bold;
}
.faqPg{
  color: black;
  font-family: "gotham narrow",Georgia,serif;
  font-size: 1vw;
  text-align: center;
}
.title-name{
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.about{
  font-family: "gotham narrow",Georgia,serif;
  margin-top: 5px;
  color: rgb(45, 40, 40);
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
  padding: 20px;
}

.aboutParagraph{
  font-size: 1.25em;
}

.aboutUs{
  color:rgb(17, 14, 14);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;
  margin-top: 5px;
}
.dev{
  font-family: "gotham narrow",Georgia,serif;
  margin-top: 20px;
  width:300px;
  font-size: 11px;
}
.jonathan,.joey,.john,.joseline{
  width:250px;
  height: 300px;
  border-radius: 5%;
  filter: grayscale(100%);
}
.joseline{
 object-fit: cover;
}

/* edit pg styling */
.editFund{
  font-family: "gotham narrow",Georgia,serif;
  background-color: rgb(98, 114, 122);
  margin: 0px 90px 0px 90px;
  display: grid;
  margin-top: 30px;
}
.editImg{
  grid-column-start:1 ;
  grid-column-end: 3;
  width: 100%;
  max-height: 100%;
}
.editForm{
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 1vw;
  text-align: center;
  margin-left: 140px;
  margin-right: 100px;
  margin-top: 15px;
  max-width: 20vw;
}
label{
  font-size: 1vw;
  font-weight: bold;
}
select[name="company"]{
width: 180px;
height: 35px;
font-size: 15px;
border: none;
}

/* footer styling */
.footer{
  font-family: "gotham narrow",Georgia,serif;
  margin-top: 20px;
  text-align:center;
  color: #bbb;
}
.footerTag{
  margin-top: 0px;
  font-size: 15px;
}
.socials{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}
.twitter, .publications, .contacts,.faq, .chatIcon{
  max-width: 45px;
  margin-left: 5px;
  border:solid white;
  border-radius: 30%;
  transition: transform 0.3s ease;
}
.twitter{
  border-radius: 45%;
}
.twitter:hover, .publications:hover, .contacts:hover,.faq:hover, .chatIcon:hover{
  transform: scale(1.2);
}

/* account page styling */
.account{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
  border-radius:10px;
  height: 300px;
  margin: 0px 90px 0px 90px;
  color:black
}

/* FAQ styling */
.faqLine{
  margin-left:400px;
  margin-right: 400px;
}
.faqPg{
  background-color:  rgb(233, 232, 232);
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0px 30px 0px 30px;
  padding: 10px;
}
.faq_phrase, hr{
  text-align: center;
  color: black;
  font-weight: bold;
 
}
.question{
  border-style: outset;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.quest{
  font-weight: bold;
}

/* editing of the funds containers in the index page */
.fund{
  font-family: "gotham narrow",Georgia,serif;
  border: 1px solid white;
  text-align: center;
  background-color: #bbb;
}

.fund a {
  display: block;
  text-align: center;
  background-color: #4b5053;
  color: #FFFFFF;
  padding: 2px;
  border-radius: 5px;
  text-decoration: none;
}

.fund a:hover {
  background-color: #227721;
  color: #FFFFFF;
}

/* show page styling */
.allShowPage{
  border: 1px solid #000203;
}

.showFundContainer h1 {
  width: 100%;
  background-color: #71797f;
  text-align: center;
  border-radius: 20px;
}

.fundTitle{
  border: 4px solid #000;
  border-radius: 17px;
  background-color: #4b5053;
  color: rgb(237, 237, 237);
}

.fundInfo {
  color: black;
  background-color: #E0E0E0;
  border-radius: 20px;
}

.editDltButtons{
  flex: 100%;
  margin-top: 10px;
}

.editBtn,.deleteBtn{
  font-size: 25px;
  font-weight: bold;
  width: 250px;
  border-radius: 20px;
  color:white;
}

.deleteBtn{
  background-color:	#FFA500;
}

.editBtn{
  background-color: #6699cc;
}


button:hover{
  cursor: pointer;
  background-color: gainsboro;
}


.priceGraph{
  background-color: #E0E0E0;
  border-radius: 20px;
}
.priceGraphData{
  background-color: #E0E0E0;
  border-radius: 20px;
}

.HistoricalGraph{
  border-radius: 20px;
  background-color: #E0E0E0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.dividendGraph{
  border-radius: 20px;
  background-color: #E0E0E0;
}


/* creating the card for percent changes*/
.card {
  border-radius: 20px;
  background-color: #E0E0E0;
}

.card-content {
  padding: 20px;
}

.lastClosePrice{
  font-size: 30px;
}

.percent {
  font-size: 64px;
  font-weight: bold;
}

/* this container encompasses all the components on the show page */
.container{
  font-family: "gotham narrow",Georgia,serif;
  border: 2px solid #000;
  background-color: 	#9d9fa1;
  border-radius: 20px;
}
/* auth styling */
.createForm{
  font-family: "gotham narrow",Georgia,serif;
}

/* styling of the chat we use the !important to override the styling from the comet-chat packages */
.cometchat__users__with__messages {
  width: 90% !important;
  height: 60% !important;
  border: 1px solid grey !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Because the comet chat has its own preinstalled styling we need to adjust the footer specifically for the chat route */
.chat-footer{
  font-family: "gotham narrow",Georgia,serif;
  margin-top: 20px;
  text-align:center;
  color: #bbb;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Login page styling */
.loginForm {
  position: relative;
}

.loginBackground {
  position: relative;
  z-index: 1; /* this makes sure that the login content are over the image*/
}

.loginBackground img {
  width: 100%;
  height: auto;
  display: block;
}

.loginContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure it's on top of the image */
  text-align: center;
  color: white;
  border: 2px solid white;
  background-color: rgba(1, 0, 0, 0.7); /* Shaded gray background */
  padding: 10px;
}

.loginMessage {
  font-size: 4rem;
  margin-bottom: 1rem;
  word-wrap: break-word;

}


.loginButton {
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  width:100%;
  max-width: 200px;
}


/* We set two media queries that adjust based on the size of the screen */
@media (max-width: 768px) {
  .loginContent {
    max-width: 90%;
    max-height: 90%;
  }
  .loginMessage {
    font-size: 2rem;
  }
  .loginButton {
    font-size: 1rem;
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .loginContent {
    max-width: 95%;
    max-height: 95%;
  }
  
  .loginMessage {
    font-size: 2rem;
  }
  
  .loginButton {
    font-size: 1rem;
    max-width: 120px;
  }
}










